@font-face {
    font-family: 'HelveticaRegular';
    src:  url('../assets/fonts/HelveticaRegular.woff') format('woff'),
          url('../assets/fonts/HelveticaRegular.ttf') format('ttf'),
          url('../assets/fonts/HelveticaRegular.eot') format('eot');
    font-style: normal;
  }

@font-face {
    font-family: 'HelveticaThin';
    src:  url('../assets/fonts/HelveticaThin.eot') format('eot'),
          url('../assets/fonts/HelveticaThin.ttf') format('ttf'),
          url('../assets/fonts/HelveticaThin.woff') format('woff');
    font-style: normal;
  }